@model QOP.Models.TimeSlot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSlot</h4>
    <hr />
    <dl class="row">
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isTransportSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isTransportSlot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
